@import './MIXINS.scss';

@mixin centerChildren_Flex{
    
    * {
        display: inherit;
        align-content: center;
    }

}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-direction-column{
    flex-direction: column;
}


.__centerChildren_Flex__{
    @include centerChildren_Flex();
}
.display_flex_justify_n_align_center_direction_row {

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.display_flex_justify_n_align_center_direction_column{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    
}

.display_flex_justify_n_align_start_direction_column{
    display: flex;
    justify-content: start;
    align-content: start;
    flex-direction: column;
    
}

.Column_to_Row_500px_width{
    @include Column_to_Row_500px_width();
}


*{
    justify-content: center;
    align-content: center;
    border: 1px dotted;
}

