<div class="display_flex_justify_n_align_center_direction_row flex-wrap">
    
    <div class="display_flex_justify_n_align_center_direction_row " routerLink="/">
        <img class="hover-fade" src="./../../../assets/MS/MSLogo.png"  style="width:5rem;">
    </div>

    <div class="display_flex_justify_n_align_center_direction_row flex-wrap" routerLink="/login">
        <button class="btn1 hover-fade"><u>Login</u></button>
    </div>
    <div class="display_flex_justify_n_align_center_direction_row flex-wrap" routerLink="/cart">
        <img class="hover-fade" src="./../../../assets/ICONS/cart.svg" style="width: 1.5rem;
        border: .5px solid;
        border-radius: 1rem;
        padding: .5rem;
        margin: 10px;
        position: relative;
        top: 16%;" alt="">
        <p style="display: flex;
        justify-content: center;
        position: relative;
        top: -10%;
        left: 30%;
        margin: 0;
        border-radius: 1rem;
        width: max-content;
        padding: 0 8%;
        background-color: red;
        border: 1px solid;">1</p>
    </div>
</div>