<main >
    
    <div class="display_flex_justify_n_align_center_direction_row" id="about"  routerLink="/">
        <img class="hover-fade" src="./../../../assets/MS/MSLogo.png"  style="">
    </div>

    <div class="display_flex_justify_n_align_center_direction_row" id="dashboard"  routerLink="/login">
        <button class="btn1 hover-fade"><u>Dashboard</u></button>
    </div>
    <div class="display_flex_justify_n_align_center_direction_row" id="cart"  routerLink="/cart">
        <img class="hover-fade" src="./../../../assets/ICONS/cart-small.svg" style="" alt="">
    </div>

    <select name="" id="menu" >
        <option routerLink="/" value="Meeting Times">Meeting Times</option>
        <option routerLink="/login" value="Dashboard">DashBoard</option>
        <option routerLink="/cart" value="Cart">Cart</option>
    </select>
    <div id="user">
        <p *ngIf="Account | async as acc;else noacc">Welcome {{acc.username}}</p>
        <ng-template #noacc>
            Welcome user
        </ng-template>
    </div>
</main>