<div class="display_flex_justify_n_align_center_direction_column background1">
  <app-nav></app-nav>
  <router-outlet></router-outlet>

  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aperiam eveniet, hic, vel quisquam ea nostrum, maiores odit maxime neque reiciendis temporibus amet cumque suscipit voluptate minus cum dolor soluta.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aperiam eveniet, hic, vel quisquam ea nostrum, maiores odit maxime neque reiciendis temporibus amet cumque suscipit voluptate minus cum dolor soluta.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aperiam eveniet, hic, vel quisquam ea nostrum, maiores odit maxime neque reiciendis temporibus amet cumque suscipit voluptate minus cum dolor soluta.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aperiam eveniet, hic, vel quisquam ea nostrum, maiores odit maxime neque reiciendis temporibus amet cumque suscipit voluptate minus cum dolor soluta.</p>
  </div>
  <app-footer></app-footer>

</div>
