<!-- <div class="display_flex_justify_n_align_center_direction_column background4" style="border-radius: 1rem;">
  <app-nav class="margin-horizontal"></app-nav>
  <router-outlet class=""></router-outlet>

  <div class="display_flex_justify_n_align_center_direction_row flex-wrap  ">
    <div class="display_flex_justify_n_align_center_direction_column margin-vertical " style="max-width:59%;">
      <h3 class=" display_flex_justify_n_align_center_direction_row ">Save 15% off your 1st month or year of
        Service Providing.</h3>
      <p class=" display_flex_justify_n_align_center_direction_row ">Scroll down to check out some of the
        features you'll get when signing up with Mint Soup Services.</p>
      <button class="btn1 hover-fade margin-vertical">Get 15% Off!</button>
    </div>
    <img class=" display_flex_justify_n_align_center_direction_row margin-horizontal"
      src="./../assets/Images/PHOTOS/woman-at-computer.JPG" style=" max-width:15rem;" alt="">
  </div>

  <div class="display_flex_justify_n_align_center_direction_column margin-horizontal">
    <h3 class="display_flex_justify_n_align_center_direction_row flex-wrap">Just a few things to give you a taste of the
      tools you'll gain access to. </h3>
    <p class="margin-horizontal"><span><b>**Just released**</b></span> You can start trading with ETRADE through our
      Brokerage Plus module. Trade
      Ideas now connects directly to your ETRADE account for $0 commission trading.</p>
    <div class="display_flex_justify_n_align_center_direction_row flex-wrap">
      <div
        class="display_flex_justify_n_align_start_direction_column  margin-horizontal margin-vertical Width-Percentage-30-to-80-Responsive ">
        <img class="img-border" src="./../assets/ICONS/gears-color.svg" alt="">
        <p class="display_flex_justify_n_align_center_direction_row flex-wrap margin-horizontal padding-1rem">The A.I.
          powered data-anaylsis
          algorithm pairs the robust data anaylsis of hundreds of platform invites with anaylitics so that you can get
          the most value out of your meeting invites.
          See how often people take action of your invites and from where so that you can better fine tune your
          message's delivery and make that invite happen.</p>
          
      </div>

      <div
        class="display_flex_justify_n_align_start_direction_column  margin-horizontal margin-vertical Width-Percentage-30-to-80-Responsive ">
        <img class="img-border" src="./../assets/ICONS/merch1.svg" alt="">
        <p class="display_flex_justify_n_align_center_direction_row flex-wrap margin-horizontal padding-1rem">Check out
          our cool merch to represent the Market Alert GANG!.</p>
      </div>

      <div
        class="display_flex_justify_n_align_start_direction_column  margin-horizontal margin-vertical Width-Percentage-30-to-80-Responsive ">
        <img class="img-border" src="./../assets/ICONS/gift.svg" alt="">
        <p class="display_flex_justify_n_align_center_direction_row flex-wrap margin-horizontal padding-1rem">Want to
          support to help keep this project alive? Make a secure payment donation. It's fast, secure and every bit is
          appreciated.</p>
      </div>

    </div>
  </div>
  <app-footer></app-footer>

</div> -->
<app-nav></app-nav>
<router-outlet class=""></router-outlet>
<app-footer></app-footer>
