<div *ngIf="$MeetingTimes | async as MeetingTimes">
    <div *ngIf="MeetingTimes.length > 0;else noMeetingTimes">
        <div class="display_flex_justify_n_align_center_direction_column margin-10px padding-5px border-radius6"
            *ngFor="let mt of MeetingTimes">
            <h3>Meeting Time</h3>
            <p>Meeting ID: <span><b class="word-break">{{mt.id}}</b></span></p>
            <p>Timezone: <span><b>{{mt.timezone}}</b></span></p>
            <p>Url: <span><b><u>{{mt.url}}</u></b></span></p>
            <p>Host: <span><b>{{mt.host}}</b></span></p>
            <p>Frequency: <span><select name="frq" disabled >
                        <option [value]="mt.frequency">{{mt.frequency}}</option>
                    </select></span></p>
            <p>Scheduled Date: <span><b>{{mt.day}} {{mt.time}}</b></span></p>
            <p>Date Added: <span><b>{{mt.added}}</b></span></p>
            <p>Date Modified: <span><b>{{mt.updated}}</b></span></p>
            <p>Created By: <span><b class="word-break">{{mt.creator}}</b></span></p>
            <p style="color: red;">If you would like to schedule this meeting, visit the confirm page</p>
        </div>
    </div>
    <ng-template #noMeetingTimes>
        <h3>There are no meeting times available.</h3>
    </ng-template>

</div>
