
<div class="display_flex_justify_n_align_center_direction_column">

    <form class="display_flex_justify_n_align_center_direction_column" >
        <h4>Express Interest in the Market Alert Business Team</h4>
        <div class="display_flex_justify_n_align_center_direction_row" >
            <p *ngIf="emailMsg" >{{emailMsg}}</p>
            <input type="email" name="email" id="" placeholder="Enter your email..." required [(ngModel)]="Contact.email">
        </div> 
        <div class="display_flex_justify_n_align_center_direction_row" >
            <p *ngIf="fnMsg" >{{fnMsg}}</p>
            <input type="text" name="fn" id="" placeholder="Enter your first name..." required [(ngModel)]="Contact.fn">
        </div> 
        <div class="display_flex_justify_n_align_center_direction_row" >
            <p *ngIf="lnMsg" >{{lnMsg}}</p>
            <input type="text" name="ln" placeholder="Enter your last name..." required [(ngModel)]="Contact.ln">
        </div> 
        <div class="display_flex_justify_n_align_center_direction_row" >
            <p *ngIf="noteMsg">{{noteMsg}}</p>
            <input type="text" name="note" placeholder="How'd You Hear About Us?..." required [(ngModel)]="Contact.note">
        </div> 

        <div class="display_flex_justify_n_align_center_direction_row">
            <u class="display_flex_justify_n_align_center_direction_column">By clicking send, you are choosing to aggree to our terms.</u>
            <button class="btn1" type="button" (click)="sendBI()" >Send</button>
        </div>
    </form>

    
    <div *ngIf="sent != undefined" class="display_flex_justify_n_align_center_direction_row">
        <div *ngIf="sent  == true;else notSent">
            <p>Your message was sent successfully! Check your email for more details and check back here to continue.</p>
        </div>
        <ng-template #notSent>
            <p>Your message was not sent!</p>
        </ng-template>
    </div>

    <div *ngIf="MAINMSG != undefined" class="display_flex_justify_n_align_center_direction_row">
        <p>{{MAINMSG}}</p>
    </div>

</div>