<div class="display_flex_justify_n_align_center_direction_row flex-wrap">
    <div class="display_flex_justify_n_align_center_direction_column flex-wrap" >
        <a routerLink="/">Home</a>
    </div>
    <div class="display_flex_justify_n_align_center_direction_column flex-wrap">
        <a *ngFor="let c of buy" routerLink="/{{c.path}}">{{c.path | titlecase}}</a>
    </div>

    <div class="display_flex_justify_n_align_center_direction_column flex-wrap">
        <a *ngFor="let c of sell" routerLink="/{{c.path}}">{{c.path | titlecase}}</a>
    </div>

    <div class="display_flex_justify_n_align_center_direction_column flex-wrap">
        <a *ngFor="let c of contact" routerLink="/{{c.path}}">{{c.path | titlecase}}</a>
    </div>
</div>